/node_modules
node_modules

.env
/.env

/note.txt
note.txt

C:\Users\USER\Desktop\NODEJS\cryptoApp\models\test.js
C:\Users\USER\Desktop\NODEJS\cryptoApp\models\test.js
models\test.js
/models\test.js

C:\Users\USER\Desktop\NODEJS\cryptoApp\models\Plan.js
models\Plan.js
/models\Plan.js

//C:\Users\USER\Desktop\NODEJS\cryptoApp\html
/html
html
